{{#if this.contract.ready}}
  <AirlineDashboard
    @airlines={{this.model.airlines}}
    @flights={{this.model.flights}}
  />
{{else}}
  <div class="panel">
    Fetching contract data from blockchain... please wait.
  </div>
{{/if}}