<div class="panel">
  {{#if this.contract.ready}}
    {{#link-to "passenger"}}
      <button class="link">Passenger</button>
    {{/link-to}}
    {{#link-to "airline"}}
      <button class="link">Airline</button>
    {{/link-to}}
    {{#link-to "owner"}}
      <button class="link">Contract Owner</button>
    {{/link-to}}
    {{#link-to "pauser"}}
      <button class="link">Contract Admins</button>
    {{/link-to}}
  {{else}}
    Fetching contract data from blockchain... please wait.
  {{/if}}
</div>