{{#if this.contract.ready}}
  <OwnerDashboard @airlines={{this.model.airlines}} @admins={{this.model.admins}} />
{{else}}
  <div class="panel">
    Fetching contract data from blockchain... please wait.
  </div>
{{/if}}