
{{#if this.contract.ready}}
  <Dashboard
    @flights={{this.model.flights}}
    @airlines={{this.model.airlines}}
    @passengers={{this.model.passengers}}
  />
{{else}}
  <div class="panel">
    Fetching contract data from blockchain... please wait.
  </div>
{{/if}}


